* {
    font-family: "Oswald", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    @apply w-11/12 md:w-10/12 mx-auto;
}

.main-theme {
    background: white;
}

.transparent-white {
    background: white;
    color: black;
    mix-blend-mode: screen;
}

section {
    @apply mb-4 sm:mb-20 md:mb-20 lg:mb-20 2xl:mb-20;
}
